*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1640px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.delete-btn, .change-btn{
    background-color: transparent;
    border: none;
}